.base {
	display: block;
	fill: none;
	transform-box: fill-box;
	font-family: Tahoma, Helvetica, Arial, Verdana, sans-serif;
}

.inner_circle_time {
	fill: #f1f5f9;
	font-size: 1em;
	font-weight: bold;
}

.completion_ring_stroke {
	stroke: rgba(148, 163, 184, 0.5);
	stroke-linecap: round;
	stroke-dasharray: 0 6;
	transform: rotate(10deg);
	transform-origin: center center;
}

.completion_ring_fill {
	transform: rotate(-89.9deg);
	transform-origin: center center 0px;
	transition: stroke-dasharray 1s linear 0s;
	stroke: #e2e8f0;
}
