.base {
	display: block;
	fill: none;
	transform-box: fill-box;
	font-family: Tahoma, Helvetica, Arial, Verdana, sans-serif;
	/*filter: drop-shadow(10px 0 20px #ff4879) drop-shadow(-10px 5px 20px #00bc9b)
		drop-shadow(0 0 20px #20afff);*/
	position: relative;
}

.base_shadow::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		103.53deg,
		#00bc9b 9%,
		#20afff 50%,
		#ff4879 100%
	);
	filter: blur(36px);
	border-radius: 3px;
	opacity: 0.58;
}

.inner_circle {
	fill: #f1f5f9;
}

.inner_circle_time {
	fill: #1e293b;
	font-size: 1em;
	font-weight: bold;
}

.inner_dashed_stroke {
	stroke: rgba(148, 163, 184, 0.5);
	stroke-linecap: round;
	stroke-dasharray: 0 3;
	transform: rotate(-0.5deg);
	transform-origin: center center;
}

.completion_ring_stroke {
	stroke: rgba(15, 23, 42, 0.3);
}

.completion_ring_fill,
.completion_ring_fill_stroke {
	stroke-width: 3;
	transform: rotate(-89.9deg);
	transform-origin: center center 0px;
	transition: stroke-dasharray 1s linear 0s;
}

.completion_ring_fill_stroke {
	stroke: #f1f5f9;
	stroke-width: 5;
}
