.base {
	display: block;
	fill: none;
	transform-box: fill-box;
	font-family: Tahoma, Helvetica, Arial, Verdana, sans-serif;
}

.inner_circle_time {
	fill: #2563eb;
	font-size: 2rem;
	font-weight: bold;
}

.inner_circle_time_seconds {
	fill: #1d4ed8;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 1px;
}

.completion_ring_stroke {
	stroke: #374151;
}

.completion_ring_fill,
.completion_ring_fill_seconds {
	stroke-dashoffset: -3.15;
	transition: stroke-dasharray 1s linear 0s;
	stroke: #2563eb;
}

.completion_ring_fill_seconds {
	stroke: #1d4ed8;
}
