.main {
	@apply px-4 min-h-screen sm:px-0 w-full bg-slate-800;
}

.showcase {
	@apply max-w-screen-lg xl:max-w-screen-xl mx-auto flex flex-col gap-10 pb-20 pt-16 relative z-[1];
}

.showcase::before,
.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	width: 1px;
	height: 100%;
	z-index: -1;
	@apply bg-slate-600;
}

.showcase::before {
	left: 20px;
}

.showcase::after {
	right: 20px;
}

.showcase > section::before,
.showcase > section::after {
	content: '';
	position: absolute;
	left: calc(100vw * -1);
	width: 200vw;
	height: 1px;
	z-index: -1;
	@apply bg-slate-600;
}

.showcase > section::before {
	top: 20px;
}

.showcase > section::after {
	bottom: 20px;
}

.footer {
	@apply bg-slate-900 relative overflow-hidden;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.footerHeader {
	@apply max-w-screen-lg xl:max-w-screen-xl mx-auto text-center py-20 overflow-hidden;
}

.contributeHeader {
	@apply relative sm:text-5xl text-3xl mb-6 text-white z-10;
}

.contributeButton {
	@apply relative inline-flex items-center justify-center p-4 px-6 py-2 overflow-hidden transition duration-300 ease-out border-2 bg-slate-200 border-purple-500 rounded-lg shadow-md font-semibold;
	z-index: 1;
}

.contributeButtonIcon {
	@apply absolute inset-0 flex items-center justify-center w-full h-full duration-300 -translate-x-full bg-purple-500 text-slate-200;
}

.contributeButtonIcon > svg {
	@apply w-8 h-8 stroke-current;
}

.contributeButtonText {
	@apply absolute flex items-center justify-center w-full h-full text-purple-500 transition-all duration-300 transform;
}

.contributeButton:hover .contributeButtonIcon {
	@apply translate-x-0;
}
.contributeButton:hover .contributeButtonText {
	@apply translate-x-full;
}

.Invisible {
	@apply relative invisible;
}

.blobBG {
	@apply absolute top-[-42px] z-0 mix-blend-color-dodge w-full h-[600px] opacity-70;
}
