.base {
	display: block;
	fill: none;
	transform-box: fill-box;
}

.inner_circle {
	fill: rgba(17, 24, 39, 0.7);
	stroke: #374151;
}

.inner_circle_time {
	fill: #2563eb;
	font-family: consolas, Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-size: 1em;
	font-weight: bold;
}

.inner_circle_time_total {
	fill: #1d4ed8;
	font-family: consolas, Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-size: 0.5em;
	font-weight: thin;
}

.completion_ring_stroke {
	stroke: #374151;
}

.completion_ring_fill {
	filter: url('#base-timer__dropshadow');
	transform: rotate(-89.9deg);
	transform-origin: center center 0px;
	transition: stroke-dasharray 1s linear 0s;
	stroke: #2563eb;
}
