@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
		/*
    * Prevents showing the white background when scrolling too fast
    * Must use the same background as `.main` in app.modules.css
    */
		@apply bg-slate-800;
  }

  h1 {
    @apply font-heading font-extrabold tracking-tight;
  }
}

@layer components {
  .bg-dots-pattern {
    /* slate-800 */
    background-image: radial-gradient(#1e293b 1px, transparent 0);
    background-size: 5px 5px;
  }
}

body {
	overflow: hidden visible;
}
